[Unit]
Description=Monero Node Localnet
Requires=docker.service
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/opt/monero
ExecStart=/usr/bin/make up-local
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

