[Unit]
Description=Monero Node Testnet
Requires=docker.service
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/coinmine/stuff
ExecStart=/usr/bin/make up-test
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

