[Unit]
Description=Monero Node Stagenet
Requires=docker.service
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=
ExecStart=./compose stagenet
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

