[Unit]
Description=Monero Node Localnet
Requires=docker.service
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=
ExecStart=/bin/bash compose up localnet
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

