[Unit]
Description=Ethereum Node Testnet
Requires=docker.service
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=
ExecStart=./compose testnet
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

